body {
  color: #333;
  font-family: Courier;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

#thumb-logo {
  width: 100px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

#thumb-logo img {
  width: 100%;
}

#footer {
  text-align: center;
  background: #777;
  color: #fff;
  padding: .5em;
}
#cabecera {
  background-color: rgb(197, 139, 231);
  box-shadow: 0 2px 20px 0px rgba(0,0,0,.1);
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: .5em;
  font-family: 'Arial';
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: .6em;
}

#container {
  width: 70%;
  text-align: left;
  border: 1px solid #ddd;
  margin: 2em auto;
}

#container h1 {
  font-size: 20px;
}

#post {
  padding: 1em;
}
